<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--
		开启驼峰自动映射
		mybatis说明:
			优点:可以实现自动化的对象关系映射.
			能够自动的将数据库查询的结果集,自动映射到pojo对象

		问题:
			 数据库字段                  对象的属性
	          user_id            userId
	          user_age           userAge
	          sex				  sex
		驼峰映射说明
			能够将字段中的"_"自动的去掉,自动映射到指定属性中
		
		知识点2:Mybatis缓存问题
			一级缓存
				特点:默认是开启的
				效果:在同一个sqlSession内实现数据共享
			二级缓存
				特点:默认是关闭的
				效果:同一个sqlSessionFactory中生成的
				sqlSession实现数据共享.
	  -->
	<settings>
		<!-- 开启驼峰自动映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<plugins>
		<!-- 分页插件：com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 方言 -->
			<property name="dialect" value="mysql" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询，查询数据总条数 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>
		
		<!-- 通用Mapper插件 -->
		<plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
			<!--主键自增回写方法,默认值MYSQL,详细说明请看文档 -->
			<property name="IDENTITY" value="MYSQL" />
			<!--通用Mapper接口，多个通用接口用逗号隔开 -->
			<property name="mappers" value="com.cgb.common.mapper.SysMapper" />
		</plugin>
	</plugins>
	
	
	
	
	
	
	
</configuration>